// Variables

$spacer-lg: 3rem;
$spacer-sm: 1.5rem;

$layout-spacer-lg: 3rem;
$layout-spacer-x: 1.5rem;

$app-sidebar-width: 290px;
$app-sidebar-width-collapsed: 80px;

//for login page (sasadara)
$logo-height: 80px;
$logo-width: 500px;
//for dashboard (sasadara)
$logo-heightB: 25px;
$logo-widthB: 190px;

$app-header-height: 60px;
